body {
    background-color: #fefefe;
}

.link {
    color: #7A8450;
}

.mainHeader {
    font-weight: bold;
}

.section {}

.diaryHeader,
.sectionHeader {
    font-size: 30px;
    color: #B6465F;
}

.diarySection {
    font-style: italic;
}

.dailyHeader {
    color: blueviolet;
    font-size: 20px;
}

.footer {
    font-size: 10px;
}

.about {
    width: 700px;
}

.pharagraph {}